body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3f0cd;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .pending {
    background-color: #fff; 
  }
  
  .in-progress {
    background-color: #ffffcc; 
  }
  
  .completed {
    background-color: #d3f0cd; 
  }
  
  form {
    display: inline;
  }
  
  form input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .timestamp {
    font-size: 0.8em;
    color: #666;
  }
  
  .create-task-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: antiquewhite;
  }

  .title,.description,.status{
     background-color: aqua;
  }
